# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
env/

# Jupyter notebooks
.ipynb_checkpoints/

# VS Code
.vscode/

# macOS / Linux junk
.DS_Store
*.swp

